* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary{
    border-radius: 8px;
background: #FF900E;
border: none;
padding: 20px;
font-size: 20px;
color: white;
font-weight: bold;

}
/* header style  */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #131313;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
}

nav li>a {
    text-decoration: none;
    color: #424242;
    text-align: center;
    font-size: 18px;

    font-weight: 500;

}

.banner-content {
    width: 800px;
    text-align: center;
    margin: 0 auto;
}


.banner-title {
    color: #131313;
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 20px;
}

.banner-des {
    color: #727272;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.banner img{
    width: 100%;
    margin-top: 20px;
}

/* header responsive  */

@media screen and (max-width: 576px) {
    
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    .banner-content{
        width: 100%;
    }
}

@media screen and (min-width:576px) and (max-width:992px) {
    header{
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }
    .banner-content{
        width: 100%;
    }
}